@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Reset */
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  color: hsl(0deg, 0%, 100%);
  width: 100%;
  min-height: 100vh;
  background-color: hsl(218deg, 23%, 16%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Components */
.sr-only {
  position: absolute;
  width: 0.063rem;
  height: 0.063rem;
  padding: 0;
  margin: -0.063rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.btn {
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  background-color: hsl(150deg, 100%, 66%);
  transition: 0.2s ease-in-out;
  display: grid;
  place-content: center;
}
.btn--disabled {
  display: none;
}
@media (hover: hover) {
  .btn:hover {
    box-shadow: 0 0.875rem 1.75rem rgba(82, 255, 168, 0.25), 0 0.625rem 0.625rem rgba(82, 255, 168, 0.22);
  }
}

.attribution {
  margin-top: 2rem;
  font-size: 0.735rem;
  text-align: center;
}
.attribution a {
  color: hsl(150deg, 100%, 66%);
}
@media screen and (min-width: 576px) and (min-height: 760px) {
  .attribution {
    position: fixed;
    bottom: 0.325rem;
    width: 100%;
  }
}
@media (hover: hover) {
  .attribution a:hover {
    color: #00eb75;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: transparent;
  border-radius: 1rem;
  visibility: hidden;
}
.loader::before {
  content: "";
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.3rem solid hsl(218deg, 23%, 16%);
  border-top-color: hsl(150deg, 100%, 66%);
  animation: spin 1s linear infinite;
}

/* Layout */
.container {
  border-radius: 1rem;
  margin: 1.3rem;
}
@media screen and (min-width: 768px) {
  .container {
    margin-bottom: 4rem;
  }
}

.advice {
  position: relative;
  box-shadow: 0 0.063rem 0.188rem rgba(31, 38, 50, 0.12), 0 0.063rem 0.125rem rgba(31, 38, 50, 0.24);
  background-color: hsl(217deg, 19%, 24%);
  max-width: 33.7rem;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  padding: 1.7rem;
  padding-bottom: 4rem;
  text-align: center;
}
.advice__title {
  font-size: 0.7rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  color: hsl(150deg, 100%, 66%);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
.advice__text {
  font-size: 1.4rem;
  color: hsl(193deg, 38%, 86%);
  margin-bottom: 2.5rem;
}
.advice__container {
  transition: all 0.2s ease-in-out;
}
.advice .hidden {
  opacity: 0;
}
.advice .visible {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .advice {
    padding: 3rem;
  }
  .advice__title {
    font-size: 0.8rem;
  }
  .advice__text {
    font-size: 1.7rem;
  }
  .advice__divider {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
