
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: transparent;
    border-radius: 1rem;
    
    visibility: hidden;

    &::before {
        content: "";
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 0.3rem solid $theme-dark-blue-color;
        border-top-color: $theme-neon-green-color;
        animation: spin 1s linear infinite;
    }
}